<footer class="usa-footer usa-footer-medium site" role="contentinfo">
  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-width-one-fourth">
        <img class="footer-main-img" src="{{ site.baseurl }}/img/home/homepage_illustrations_best_easiest_2x.png" alt="">
      </div>
      <div class="usa-width-three-fourths footer-content">
        <h3>Become part of the community</h3>
        <p>Community text placeholder from _includes/footer.html.</p>
        <div class="usa-grid-full footer-contact-links">
          <div class="usa-width-one-third">
            <div class="usa-media_block">
              <img class="usa-media_block-img" src="{{ site.baseurl }}/img/home/icon-question.svg" alt="">
              <div class="usa-media_block-body">
                <h4>Running into an issue?</h4>
                <a href="{{ site.repos[0].url }}/issues/new">
                  Ask questions on GitHub
                </a>
              </div>
            </div>
          </div>
          <div class="usa-width-one-third">
            <div class="usa-media_block">
              <img class="usa-media_block-img" src="{{ site.baseurl }}/img/home/icon-slack.svg" alt="">
              <div class="usa-media_block-body">
                <h4>Engage with the community</h4>
                <a href="https://chat.18f.gov/">
                  Join our Slack channel
                </a>
              </div>
            </div>
          </div>
          <div class="usa-width-one-third">
            <div class="usa-media_block">
              <img class="usa-media_block-img" src="{{ site.baseurl }}/img/home/icon-envelope.svg" alt="">
              <div class="usa-media_block-body">
                <h4>Reach the team</h4>
                <a href="mailto:uswds@gsa.gov">
                  Send us an email
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section-bottom">
    <div class="usa-grid">
      <div class="logo-links">
        <a href="http://www.gsa.gov/">
          <img src="{{ site.baseurl }}/img/Logo_RH_BW_RGB_Reverse.png" alt="Shadowman" width="128px" height="38px" >
        </a>
      </div>
      <p>The ATO Pathways project is part of Red Hat Public Sector's open source initiatives. This code is on GitHub and this website is hosted on OpenShift.</p>
    </div>
  </div>
</footer>
