---
layout: default
---

{% capture opencontrol_component %}{{ page.product_info.opencontrol_component }}{% endcapture %}
{% capture control_family %}{{ page.product_info.control_family }}{% endcapture %}
{% capture control_family_shorthand %}{{ page.product_info.control_family }}{% endcapture %}
{% capture name %}{{ page.product_info.name }}{% endcapture %}

<aside class="sidenav sticky">
  {% assign sidenav = site.data.nav[page.category] %}
  {% if sidenav %}
  <ul class="usa-sidenav-list">
    {% include nav/list.html links=sidenav %}
  </ul>
  {% endif %}
</aside>

<main id="main-content" class="main-content">

  <div class="styleguide-content usa-content">
    <header>
      <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
    </header>

    {% include lead.html text=page.lead %}

    <br /><br />

    <!-- BEGIN CONTROL SUMMARY TABLE -->
    <h2><center>Requirements Traceability Matrix</center></h2>
    <center>
      <table width="85%">
        <thead>
          <tr>
            <th>Control</th> 
            <th>Name</th>
            <th>Status</th>
          </tr>
        </thead>
        {% for control_response in site.data.components.[opencontrol_component].policies.[control_family].component %}
        <tr>
          <td><a href="#{{ control_response.control_key }}">{{ control_response.control_key }}</a></td>
          <td>{{ site.data.standards.nist-800-53-rev4.[control_response.control_key].name }}</td>
          <td>
            <center>
              {% if control_response.implementation_status == 'complete' or control_response.implementation_status == 'not applicable' %}
              <div class="usa-alert usa-alert-success" >
              {% elsif control_response.implementation_status == 'partial' %}
              <div class="usa-alert usa-alert-warning" >
              {% elsif control_response.implementation_status == 'planned' %}
              <div class="usa-alert usa-alert-info" > 
              {% else %} 
              <div class="usa-alert usa-alert-error" role="alert" > 
              {% endif %} 
                <div class="usa-alert-body">
                   <p class="usa-alert-text">{{ control_response.implementation_status }}</p>
                </div>
              </div>
            </center>
          </td>
        </tr>
        {% endfor %}
      </table>
    </center>
    <!-- END CONTROL SUMMARY TABLE -->

    <!-- BEGIN CONTROL RESPONSE TABLE -->
    {% for control_response in site.data.components.[opencontrol_component].policies.[control_family].component %}
      <div class="usa-grid" id="{{ control_response.control_key }}">
        <br /><hr class="homepage-rule center-diamond" /><br />
      </div>

      <div class="alignment-example" align="center">
        <h2>{{ control_response.control_key }}: {{ site.data.standards.nist-800-53-rev4.[control_response.control_key].name }}</h2>
        <h4>{{ site.data.standards.nist-800-53-rev4.[control_response.control_key].description | markdownify }}</h4>
      </div>

    <center>
    <table width="85%">
      <thead>
        <tr>
          <th scope="row">
            <strong>
              <center>
                {{ control_response.control_key }} Control Response Information
              </center>
            </strong>
          </th>
        </tr>
      </thead>
      <tr>
        <td>
          <b>Implementation Status: </b> 
          {% if control_response.implementation_status == 'complete' or control_response.implementation_status == 'not applicable' %}
          <div class="usa-alert usa-alert-success" >
          {% elsif control_response.implementation_status == 'partial' %}
          <div class="usa-alert usa-alert-warning" >
          {% elsif control_response.implementation_status == 'planned' %}
          <div class="usa-alert usa-alert-info" > 
          {% else %} 
          <div class="usa-alert usa-alert-error" role="alert" > 
          {% endif %} 
            <div class="usa-alert-body">
              <p class="usa-alert-text">{{ control_response.implementation_status }}</p>
            </div>
          </div>
        </td>
      </tr>
      <!--<tr>
        <td>Control Origination:
          <ul>
            <li>Provided By Customer (Customer System Specific)</li>
            <li>Shared (Service Provider and Customer Responsibility)</li>
          </ul>
          There should be a checklist here:
          <fieldset>
      
        <div>
            <input type="checkbox" id="Service_Provider_Corporate" name="origination"
                   value="Service_Provider_Corporate" checked />
            <label for="Service_Provider_Corporate">Service Provider Corporate</label>
        </div>

        <div>
            <input type="checkbox" id="Service_Provider_System_Specific" name="origination"
                   value="Service_Provider_System_Specific" />
            <label for="Service_Provider_System_Specific">Service Provider System Specific</label>
        </div>

        <div>
            <input type="checkbox" id="Service_Provider_Hybrid" name="origination"
                   value="Service_Provider_Hybrid" />
            <label for="Service_Provider_Hybrid">Service Provider Hybrid (Corporate and System Specific)</label>
        </div>

        <div>
            <input type="checkbox" id="Configured_By_Customer" name="origination"
                   value="Configured_By_Customer" />
            <label for="Configured_By_Customer">Configured By Customer (Customer System Specific)</label>
        </div>

        <div>
            <input type="checkbox" id="Service_Provider_Hybrid" name="origination"
                   value="Service_Provider_Hybrid" />
            <label for="Service_Provider_Hybrid">Service Provider Hybrid (Corporate and System Specific)</label>
        </div>

        <div>
            <input type="checkbox" id="Service_Provider_Hybrid" name="origination"
                   value="Service_Provider_Hybrid" />
            <label for="Service_Provider_Hybrid">Service Provider Hybrid (Corporate and System Specific)</label>
        </div>

        <div>
            <input type="checkbox" id="Service_Provider_Hybrid" name="origination"
                   value="Service_Provider_Hybrid" />
            <label for="Service_Provider_Hybrid">Service Provider Hybrid (Corporate and System Specific)</label>
        </div>

    </fieldset>
        </td>
      </tr> -->
    </table>

    <table width="85%">
      <thead>
        <tr>
          <th>{{ control_response.control_key }}: What is the solution and how is it implemented?</th>
        </tr>
      </thead>
      {% for key in control_response.narrative %}
      <tr>
        <td>
          {% if key.key != null %}
          <b>{{ control_response.control_key }}({{ key.key }}):</b>
          {% endif %}
          {{ key.text | markdownify  | replace: '\n', '<br />' | replace: "'", '<p>' | replace: "'", '</p>' }}
        </td>
      </tr>
      {% endfor %}
    </table>
  </center>

    {% endfor %}

    <!-- END CONTROL RESPONSE LOOP -->
  </div>

</main>